.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items ul li{
  padding: 10px;
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

/* .res-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  border: 1px solid black;
} */

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 15px;
}

/* for shimmer ui */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #d0c8c8;
  margin: 20px;
  border-radius: 11px;
}

.loginBtn { 
  margin-right: 10px;
  padding: 0 20px;
}

.filter{
  display: flex;
}

.user-card {
  margin: 15px;
  padding: 10px;
  border: solid black 1px;
  width: fit-content;
}